global:
  scrape_interval: 15s

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']

  - job_name: 'futapp-metrics'
    metrics_path: '/actuator/prometheus'
    static_configs:
      - targets: ['futapp:8080']